@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .d-flex{
        @apply flex justify-center items-center
    }
    
}

body {
    background-color: black;
    color: white;
}
*::selection{
    background-color: var(--theme);
    color:var(--black);
}

:root {
    --theme: #6500A0;
    --black: #000000;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* to avoid blue layer in mobile devices */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

a:focus,
a:visited,
a:active {
    outline: none;
}

.swiper-slide{
    width: min-content !important;
}